Q1. create a pandas series that contains the following data 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd

In [10]:
r = [4,8,15,16,23,42]
seri = pd.Series(data= r, index=None)
seri

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of all list type containing 10 elements in it, and apply pandas. Series function on the variable print it.

In [11]:
d = {'a': 1, 'b': 2, 'c':3, 'd': 4, 'e': 5, 'f': 6, 'g':8, 'h':9, 'i':10}
ser = pd.Series(data=d, index=None)

In [12]:
ser

a     1
b     2
c     3
d     4
e     5
f     6
g     8
h     9
i    10
dtype: int64

Q3. Create a Panda Data Frame that contains the following data:

**Name**  |   **Age**     |    **Gender**

Alica     |     25        |     Female

Bob       |     30        |     Male

Claire    |     27        |     Female

In [15]:
data = {'Name':['Alica','Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
pd.DataFrame.from_dict(data)

     Name  Age  Gender
0   Alica   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'Data Frame' in pandas and how is it different from pandas. series? Explain with an example

Ans- Data Frame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table or dict of series objects . It is generally the most commonly used pandas object.

The DataFrame actually consists of Index objects for the axes labels and Series objects for the column data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans- 1. read_CSV(),
2. head(),
3. describe() 
4. memory_usage()
5. astype()

pd.read_csv("File Name")

Q6. Which or the following is mutuable in nature series, DataFrame, Panel?

Ans- DataFrame

Q7. Create a DataFrame using multiple series. Explain with an example.

Ans- import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees],axis=1)

df=pd.concat([courses,fees,discount],axis=1)
print(df)