Q1. List any five functions of the pandas library with execution.

Ans - 1. read_csv(), 2. head(), 3. describe(),  4. memory_usage(),  5.loc[:]

In [2]:
'''
Q2. Give a Pandas DataFrame df with a column 'A', 'B' and 'C', Write a Python Function to re-index the DataFrame with a new index that starts from 1 and increaments by 2 for each row.
code-'''
import pandas as pd
data = {'A': [3,2,1,0], 'B': [1,2,3,4], 'C':[5,4,3,2]}
df1 = pd.DataFrame.from_dict(data)
new_index = pd.Series([1,3,5,7])
df1.set_index(new_index)

   A  B  C
1  3  1  5
3  2  2  4
5  1  3  3
7  0  4  2

In [3]:
'''
Q3. You have a Pandas DataFrame df with a column named "Value". Write a Python Function that iterates over the DataFrame and calculates the sum of the first three values in the "Value" column. The function should print the sum to the console.
For example, if the "value" column of df contains the values[10,20,30,40,50], your function should calculate and print the sum of the first three values, which is 60.
code-
'''
data= {'Value':[10, 20, 30, 40, 50]}
df3 = pd.DataFrame(data)
df3.iloc[0:3].sum()

Value    60
dtype: int64

In [4]:
'''
Q4. Given a Pandas DataFrame df with a column 'Text', Write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
Code-
'''
data = {'Text': ['hello','hey','Hi', 'Heyo']}
df4 = pd.DataFrame(data)
df4['Word_Count'] = df4['Text']
df4

    Text Word_Count
0  hello      hello
1    hey        hey
2     Hi         Hi
3   Heyo       Heyo

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans - Size of dataframe is the number of  fields in the dataframe which is nothing but number of rows * number of columns. Shape of a dataframe gets the number of rows and number of columns of the dataframe.

Q6. Which function of pandas do we use to read an excel file?

Ans- pd.read_excel("file name")

In [7]:
'''
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'usename@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol.
Code-
'''
data = {'Email':['Adan@gmail.com', 'steve@gmail.com', 'Chelsea@gmail.com', 'Roman@gamil.com']}
df5 = pd.DataFrame(data)
df5['New_Column'] = df5['Email'].str.split('@').str[0]
df5

               Email New_Column
0     Adan@gmail.com       Adan
1    steve@gmail.com      steve
2  Chelsea@gmail.com    Chelsea
3    Roman@gamil.com      Roman

In [12]:
'''
Q8. You have a pandas DataFrame df with columns 'A', 'B' and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
for example, if df contains the following values:
    A   B   C
0   3   5   1
1   8   2   7
2   6   9   4
3   2   3   5
4   9   1   2
Code-
'''
data = {'A':[3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df6 = pd.DataFrame(data)
df6[(df6['A'] > 5) & (df6['B'] < 10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [13]:
'''
Q9. Give a Pandas DataFrame df with a column "Value", write a Python function to calculate the mean, median and standard deviation of the values in the "Value" column.
Code-
'''
data = {'Value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df8 = pd.DataFrame(data)
df8.describe()

          Value
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [23]:
'''
Q10 Given a Pandas DataFrame df with a column 'Sales and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculating using a window of size 7 and should include the current day.
code-
'''
data = {'Sales':[500, 1000, 1500, 2000, 2500, 3000, 3500], 'Date': [1, 2, 3, 4, 5, 6, 7]}
df = pd.DataFrame(data)
df['MovingAverage'] = pd.Series(df['Sales']).rolling(window=7, min_periods=1).mean()
df

   Sales  Date  MovingAverage
0    500     1          500.0
1   1000     2          750.0
2   1500     3         1000.0
3   2000     4         1250.0
4   2500     5         1500.0
5   3000     6         1750.0
6   3500     7         2000.0

In [26]:
'''
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that create a new column 'Weekday' in the DataFrame. The 'Weekday' column dhould contain the weekday name corresponding to each date in the 'Date' column.
Code-
'''
data = {'Date':['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df['Weekday'] = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday']
df

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [35]:
'''
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
code-
'''
date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
df = pd.DataFrame(date_index2)
df.rename(columns= {0:'Date'}, inplace = True)
df

        Date
0 2009-12-29
1 2009-12-30
2 2009-12-31
3 2010-01-01
4 2010-01-02
5 2010-01-03
6 2010-01-04
7 2010-01-05
8 2010-01-06
9 2010-01-07

In [ ]:
'''
Q13. To use the basic function  of pandas, what is the first and foremost necessary library that needs to be imported?
Ans- As Pandas is dependent on the NumPy library, we need to import this dependency.
'''